body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
}

#navbar {
  background-color: #57068c;
}

#startbutton {
  background-color: #57068c;
  text-align: center;
  width: 100px;
}

