body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
}

#navbar {
  background-color: #57068c;
}

#label {
  padding: 1px;
  position: relative;
}

#healthcare {
  border: 1px black solid;
}

